@import url(./b.css);


body{
    background: #EFEFEF;
    color:black;
    margin:0;

}
/* 消除浮动bug */
.clearfix::after{
    content: '';
    display: block;
    clear:both;
}

a{
    color: inherit;  /* 继承颜色 */
    text-decoration: none;
}

* {
   margin:0 ;
   padding: 0;
}

hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE
}

.topNavBar{
   
    padding: 20px 0 20px 0; /* 上右下左的顺序 */
    position: fixed;    /* 脱离文档流 */
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner{
    padding: 0 16px;
}

.topNavBar  nav{
    padding-top: 5px;
    padding-bottom: 2px;

}

 /* 只有在topnacbar是nav的父元素，nav是ul的父元素情况下才能使用 */
.topNavBar nav>ul{
   list-style:none; margin: 0; padding:0; 
    /* 去掉小圆点用list-style，去掉导航栏前的默认空白用margin和padding */
}


.topNavBar nav>ul>li{
    float:left;            /* 将li代码简化 */
    margin-left: 17px;    /* 导航栏每个导航的间隔 */
    margin-right: 17px;

}

/* 改变页面默认字体大小（a标签） */
.topNavBar nav>ul>li>a{
    border-bottom: 3px solid transparent ; /* 加一个透明边框留空 */ 
    font-size: 12px; 
    color: #b7b7b7;
    text-decoration: none;    /* 文字装饰为空 */   
    font-weight: bold;  /* 字体加粗 */
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
}

/* hover：当鼠标悬停 */
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color:#E6686A;
}

.topNavBar .logo .card{
    color:#9A9DA2;
}

.banner{
    height: 515px;
    background-size: cover;

}

.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.4);
}

.userCard{
  
    max-width: 940px;   /* 最大不超过940px宽度 */
    margin-left: auto;       /* 水平居中 */
    margin-right: auto;
    background-color: #EFFFFF;
    padding: 50px;
}

.userCard .welcome{
    background: #E6686A ;
    color:white;
    display: inline-block;
    /*height: 29px;
    width: 79px;
    line-height: 29px;
    text-align: center;*/
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle{
    border:10px solid transparent;
    width:0px;
    height:0px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:#E6686A;
    border-top-width:0px;
    display: block;
    position: absolute;
    top:100%;
    left:4px;
}


.userCard .picture{
    float:left;
}
.userCard .text{
    float:left;
    margin-left:65px; 
    width:470px;
}

.userCard .text h1{
    margin-top: 18px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .pictureAndText{
    padding: 50px;
}


.userCard dl dt,
.userCard dl dd{
    padding: 5px 0;
}
.userCard dl dd{
    float: left;
    width:70%;
    color:#9da0a7;
}
.userCard dl dt{
    float: left;
    width:30%;
    font-weight: bold;
}


.userCard > footer.media{
    background: #E6686A;
    text-align: center;

}

.userCard svg{
    width: 30px;
    height: 30px;
    fill:white;
    vertical-align: top;
}
.userCard > footer.media > a{
 
    display: inline-block;
    border-radius: 50%;
    padding: 5px 0;
    width: 40px;
    line-height: 30px;
    margin:16px 16px;

}
.userCard > footer.media > a:hover{
    background: #cf5d5f;
}